#d1{
    background-color: rgb(12, 18, 18);
    width: 100px;
    height: 150px;
    margin-left: 100px;
    margin-top: 100px;
}
#d2{
    background-color: blue;
    width: 100px;
    height:150px ;
    margin-left:300px ;
    margin-top:-150px ;
}
#d3{
    background-color: brown;
    width: 100px;
    height: 150px;
    margin-left:500px ;
    margin-top:-150px ;
}
